.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.background-image {
    background-image: url('/img/vista-fotorrealista-pastoreo-vacas-naturaleza-al-aire-libre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}