
.background-image {
    background-image: url('../img/vacas-pastando-naturaleza.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.background-text {
    padding-top: 20px;
    color: rgb(241, 230, 230);
}

.titulosp {
    font-size: 4rem; 
    margin: 0;
}

.background-text p {
    font-size: 1.5rem; 
    margin: 0;
}